@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLOURS */
  /* Neutrals */
  --color-eerie-black: 30, 37, 38;
  --color-gunmetal: 36, 45, 46;
  --color-battle-grey: 126, 139, 140;
  --color-dim-grey: 102, 102, 102;
  --color-grey: 128, 128, 128;
  --color-battle-grey-light: 153, 153, 153;
  --color-isabelline: 242, 241, 235;
  
  /* Blues */
  --color-indigo-dye: 41, 75, 102;
  --color-outer-space-dark: 62, 78, 79;
  --color-outer-space: 72, 90, 92;
  
  /* Teals */
  --color-slate-grey-dark: 35, 66, 69;
  --color-carrib-current: 59, 110, 115;
  --color-slate-grey: 102, 125, 128;
  --color-cadet-grey: 130, 151, 153;
  --color-cadet-grey-light: 152, 176, 178;
  --color-ash-grey: 163, 189, 191;
  
  /* Accents */
  --color-cocoa-brown: 210, 112, 55;
  --color-cocoa-brown-light: 222, 160, 124;
  --color-shamrock: 0, 163, 98;
  --color-shamrock-light: 29, 215, 141;
  
  /* --- ELEMENTS --- */
  /* Fills */
  --bg: var(--color-isabelline);
  --header-bg: 255, 255, 255;
  --container-fill: 255, 255, 255;
  --action-bg-fill: 72, 134, 140, 0.03;
  --border-meta: 0, 0, 0, 0.15;
  --gradient-border-start: 224,224,224, 1;
  --gradient-border-mid: 173,173,173, 1;
  --gradient-border-end: 224,224,224, 0;

  /* Text */
  --txt-heading: var(--color-indigo-dye);
  --txt-headline: var(--color-slate-grey);
  --txt-section-title: var(--color-indigo-dye);
  --txt-body-title: var(--color-indigo-dye);
  --txt-body: var(--color-dim-grey);
  --txt-link: var(--color-carrib-current);
  --txt-footnote: var(--color-battle-grey);
  --txt-list-item: var(--color-grey);
  --txt-project-link: var(--color-carrib-current);

  /* Buttons */
  --btn-primary-fill: var(--color-carrib-current);
  --btn-primary-txt: 255, 255, 255;
  --btn-secondary-border: var(--color-carrib-current);
  --btn-secondary-txt: var(--color-carrib-current);
  --btn-tertiary-txt: var(--color-carrib-current);

  /* Icon Fills */
  --icn-fill: var(--color-cocoa-brown);
  --icn-fill-hover: var(--color-cocoa-brown-light);
  --icn-footer: var(--color-indigo-dye);
  --icn-project-link-icon: var(--color-carrib-current);

/* Dimensions */
  --1280-wrapper:876px;
  --1440-wrapper:1128px;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  /* --- ELEMENTS --- */
  /* Fills */
  --bg: var(--color-gunmetal);
  --header-bg: var(--color-outer-space-dark);
  --container-fill: var(--color-eerie-black);
  --border-meta: 66, 82, 84, 1;
  --action-bg-fill: 0, 0, 0, 0.03;
  --gradient-border-start: 66,82,84, 1;
  --gradient-border-mid: 56,70,71, 1;
  --gradient-border-end: 56,70,71, 0.05;

  /* Text */
  --txt-heading: var(--color-ash-grey);
  --txt-headline: var(--color-cadet-grey);
  --txt-section-title: var(--color-cadet-grey-light);
  --txt-body-title: var(--color-cadet-grey-light);
  --txt-body: var(--color-battle-grey);
  --txt-link: var(--color-ash-grey);
  --txt-footnote: var(--color-outer-space);
  --txt-list-item: var(--color-cadet-grey);
  --txt-project-link: var(--color-ash-grey);

  /* Buttons */
  --btn-primary-fill: var(--color-slate-grey-dark);
  --btn-primary-txt: var(--color-ash-grey);
  --btn-secondary-border: var(--color-slate-grey-dark);
  --btn-secondary-txt: var(--color-ash-grey);
  --btn-tertiary-txt: var(--color-ash-grey);

  /* Icon Fills */
  --icn-fill: var(--color-shamrock);
  --icn-fill-hover: var(--color-shamrock-light);
  --icn-footer: var(--color-battle-grey);
  --icn-project-link-icon: var(--color-ash-grey);
  }
}

body {
  color: rgb(var(--txt-body));
  background-color: rgb(var(--bg));
}

@layer base {
  /* Main Heading */
  h1 {
    @apply text-4xl font-semibold md:text-5xl 2xl:text-6xl;
  }
  /*  Headline */
  h2 {
    @apply text-xl md:text-2xl 2xl:text-4xl;
  }
  /* Section Title */
  h3 {
    @apply text-lg font-semibold md:text-[1.375rem] 2xl:text-2xl;
  }
  /* Body Title */
  h4 {
    @apply text-[var(--heading-colour)] text-sm font-medium md:text-base 2xl:text-lg;
  }
  /* Button Labels and Links Text */
  .label{
    @apply text-xs font-medium 2xl:text-sm;
  }
  /*  Body */
  p, ul li, ol li {
    @apply text-sm font-normal md:text-base 2xl:text-lg;
  }
  /* Content lists */
  .content > ul li, .content > ol li {
    list-style: disc;
    margin-left: 1.5rem;
  }

  .content > ul, .content > ol{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .content > p a{
    color: rgb(var(--icn-fill));
    transition: color .2s;
  }
  
  .content > p a:hover{
    color: rgb(var(--icn-fill-hover));
  }

  /* Footnote */
  footer, .footnote {
    @apply font-light text-xs md:text-sm 2xl:text-base;
  }
}

@layer components{
  .cta-btn {
    border-radius: 6px;
    padding: 0 1.6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    @media screen and (min-width: 1440px) {
      font-size: 1rem;
    }
  }
  .responsive-wrapper{
    display: flex;
    padding: 0 1rem;

    @media (min-width: 768px) {
      padding: 0 2rem;
    }

    @media (min-width: 1280px) {
      padding: 0;
      width: 876px;
    }
    
    @media (min-width: 1440px) {
      width: 1128px;
    }
  }
}

@layer utilities {
  .btn-primary{
    color: rgb(var(--btn-primary-txt));
    background: rgb(var(--btn-primary-fill));
  }
  .btn-secondary{
    background:none;
    color: rgb(var(--btn-secondary-txt));
    border: 2px solid rgb(var(--btn-secondary-border));
  }
  .btn-tertiary{
    background:none;
    color: rgb(var(--btn-tertiary-txt))
  }
  .gradient-border{
    border-top-width: 2px;
    border-top-style: solid;
    border-image: radial-gradient(rgba(var(--gradient-border-start)), rgba(var(--gradient-border-mid)), rgba(var(--gradient-border-end))) 1;   
  }
}